<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <tittle>Kupione_samochody</tittle>
</head>
<body>
<h1>kupione_samochody</h1>
<table>
    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>cena_zakupu</th>
        <th>data_godzina_zakupu</th>

    </tr>
    <tr th:each="vehicle, iterationInfo : ${veh1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${vehicle.id}"></td>
        <td th:text="${vehicle.carManufacturer}"></td>
        <td th:text="${vehicle.carModel}"></td>
        <td th:text="${vehicle.carYearProduction}"></td>
        <td th:text="${vehicle.carMilage}"></td>
        <td th:text="${vehicle.carNrChassis}"></td>
        <td th:text="${vehicle.carPrice}"></td>
        <td th:text="${vehicle.purchaseDate}"></td>





    </tr>
</table>
<a th:href="@{/cars}">dostepne_samochody</a>
</body>
</html>