<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <tittle>Pełny_raport</tittle>
</head>
<body>
<h1>pełny_raport</h1>
<table>

    <h2>samochody_kupione</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>cena_zakupu</th>
        <th>data_godzina_zakupu</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td th:text="${car.carPrice}"></td>
        <td th:text="${car.purchaseDate}"></td>
    </tr>
</table>
<h3>Całkowita wartość zakupu samochodów wynosi: <span th:text = "${value1}"></span></h3>
<table>
    <h2>samochody_dostępne dla obsługi</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>widoczność</th>
        <th>cena_oferty</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars2}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td th:text="${car.carVisibility}"></td>
        <td th:text="${car.carPrice}"></td>
    </tr>
</table>
<table>
    <h2>samochody_sprzedane</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>cena_sprzedaży</th>
        <th>data_godzina_sprzedaży</th>
        <th>marża</th>
        <th>zysk</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars3}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td th:text="${car.carPrice}"></td>
        <td th:text="${car.saleDate}"></td>
        <td th:text="${car.margin}"></td>
        <td th:text="${car.profit}"></td>


    </tr>
</table>
<h3>Całkowita wartość sprzedaży samochodów wynosi: <span th:text = "${value2}"></span></h3>
<h3>Całkowita wartość zysku ze sprzedaży samochodów wynosi: <span th:text = "${value3}"></span></h3>
<p><a th:href="@{/purchase/raport}">raport _kupna</a></p>
<p><a th:href="@{/sale/raport}">raport _sprzedazy</a></p>
<p><a th:href="@{/cars}">dostepne_samochody</a></p>
</body>
</html>