<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" encoding="windows-1250"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>

    <title>Sprzedaż samochodu</title>
</head>
    <body>
        <!--<h1 th:text="'Sprzedajesz ' + ${soldVehicle.vehicle.manufacturer.name} + ' ' + ${soldVehicle.vehicle.model.name}">-->
        <!--</h1>-->
        <div>
            <form th:action="@{/sells/sellVehicle}" th:object="${soldVehicle}" th:method="POST">
                <input type="hidden" th:field="*{vehicleId}"/>
                <table>

                    <tr>
                        <td>Cena</td>
                        <td><input class="form-control" type="text" th:field="*{price}"/></td>
                    </tr>
                    <tr>
                        <td>Adres klienta: </td>
                        <td><input class="form-control" type="text" th:field="*{adress}"/></td>
                    </tr>
                    <tr>
                        <td>Imię klienta</td>
                        <td><input class="form-control" type="text" th:field="*{name}"/></td>
                    </tr>
                    <tr>
                        <td>Nazwisko klienta</td>
                        <td><input class="form-control" type="text" th:field="*{lastName}"/></td>
                    </tr>
                    <tr>
                        <td>pesel</td>
                        <td><input class="form-control" type="text" th:field="*{pesel}"/></td>
                    </tr>
                    <tr>
                        <td>nip</td>
                        <td><input class="form-control" type="text" th:field="*{nip}"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sprzedaj samochód">
                            </input>
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </body>
</html>