<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.ogr">
<head>
    <meta charset="UTF-8" encoding="windows-1250"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>

    <title>Sprzedaż samochodu</title>
</head>
    <body>
        <h1>tutaj będzie formatka do sprzedaży samochodu</h1>
        <ol>
            <li>Id klienta</li>
            <li>Id samochodu</li>
            <li>data</li>
            <li>cena</li>
        </ol>

        <!--&lt;!&ndash;<a href="vehicleList.html">Powrót na stronę główną</a>&ndash;&gt;-->
        <!--<a th:href="@{/auto-komis-sda}" th:text="Powrót na stronę główną"></a>-->
        <!--&lt;!&ndash;<a th:href="@{/auto-komis-sda/{vehicleId}(vehicleId=${vehicle.id})}" th:text="Powrót do szczegółów samochodu"/>&ndash;&gt;-->
    </body>
</html>