<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" encoding="windows-1250"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>

    <title th:text="${vehicle.manufacturer.name + ' ' + vehicle.model.name}"></title>
</head>
    <body>
        <h1>Szczegóły samochodu</h1>

        <table th:object="${vehicle}">
            <tr><td>Id</td>
                <td th:text="${vehicle.id}"/></tr>
            <tr><td>Nr nadwozia</td>
                <td th:text="${vehicle.vin}"/></tr>
            <tr><td>Rocznik</td>
                <td th:text="${vehicle.productionYear}"/></tr>
            <tr><td>Marka</td>
                <td th:text="${vehicle.manufacturer.name}"/></tr>
            <tr><td>Model</td>
                <td th:text="${vehicle.model.name}"/></tr>
            <tr><td>Numer OC</td>
                <td th:text="${vehicle.insuranceNumber}"/></tr>
            <tr><td>Nr dowodu rej.</td>
                <td th:text="${vehicle.carRegistration}"/></tr>
            <tr><td>Typ paliwa</td>
                <td th:text="${vehicle.fuel.fuelType}"/></tr>
            <tr><td>Przebieg</td>
                <td th:text="${vehicle.mileage}"/></tr>
            <tr><td>Silnik</td>
                <td th:text="${vehicle.engine}"/></tr>
            <tr><td>Skrzynia biegów</td>
                <td th:text="${vehicle.transmission.name}"/>
            <tr><td>Opis</td>
                <td th:text="${vehicle.description}"/></tr>
            <tr><td>Ilość jazd próbnych</td>
                <td th:text="${vehicle.testDrives}"/></tr></tr>
        </table>

        <a th:href="@{/auto-komis-sda/vehicleList}" th:text="Powrót"></a>
        <a th:href="@{/sells/{vehicleId}/(vehicleId=${vehicle.id})}" th:text="Sprzedaż"></a>
        <!--<a th:href="@{/auto-komis-sda/{vehicleId}/sell(vehicleId=${vehicle.id})}" th:text="Sprzedaż"></a>-->


    </body>
</html>