body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}
.container{
    width: 100%;
}

.header{
    text-align: right;
    font-style: initial;
    font-size: large;
    color: chartreuse;
    width: 100%;
    padding: 10px 0;

}
.menu{
    width: 33%;
}
.h1{
    float: right;
    color: chartreuse;
}
h3{
    text-align: center;
    padding: 30px;
}

th{
    width: 20%;
    text-align: center;
}

td{
    width: 20%;
    text-align: center;
}
#table{
    padding: 10px;

}

#content {
    width: 100%;
    text-align: justify;

}
tr.div{
    float: left;
}
#row{

}
#nav {
    width: 33%;
    min-height: 620px;
    
}

li{
    padding-bottom: 10px;
}