body{
    /**/
    background-image: url("/img/tlo.png");
    font-family: 'Lato', sans-serif;
    width: 1000px;
    min-height: 1000px;
    margin: 0 !important;
}

div.vehicles{
    min-width: 120px;
    text-align: center;
    padding-top: 10px;
}


.logo{
    background-image: url("/img/audi.jpg");
    height: 200px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
    width: 100%;
}

div{
    text-align: center;
}
h4{
    text-align: center;
}

button{
    padding-bottom: 10px;
    padding-top: 10px;
}
option{
    text-align: center;
}
input{
    width: 100%;
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    height: 37px;
    padding-top: 10px;

}
.content{
    float: right;
}
.footer{
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    background-image: url("/img/stopka.png");

}
div.list{
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
    height: 37px;
}
a:link{
    color: black;
    text-decoration: none;
}

.socials{
    width:100%;
    text-align: center;
    background-color: #292929;
}

.socialdivs{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb{
    width: 250px;
    height: 150px;
    float:left;
}
.fb:hover{
    background-color: #4668b3;
}
.yt{
    width: 250px;
    height: 150px;
    float:left;
}
.yt:hover{
    background-color: #d94348;
}
.tw{
    width: 250px;
    height: 150px;
    float:left;
}
.tw:hover{
    background-color: #3095d3;
}
.gplus{
    width: 250px;
    height: 150px;
    float:left;
}
.gplus:hover{
    background-color: #d95333;
}