<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="fragments/head :: head">
</head>
<body>

<div class="container">
    <div data-th-replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-sm-3">
            <div data-th-replace="fragments/navigation :: navigation"/>
        </div>
        <div class="col-sm-9">
            <div data-th-replace="layouts/sellVehicle :: sellVehicle"/>
        </div>
    </div>
    <div data-th-replace="fragments/footer :: footer"></div>
</div>
</body>
</html>