<div data-th-fragment="createUser">
    <div><h4 style="text-align: center">Dodaj użytkownika</h4></div>
    <div>
        <form data-th-action="@{/createAccount}" data-th-object="${createUser}" data-th-method="POST">
            <div>
                <div>Twój login:</div>
                <div><input class="form-control" type="text"
                            data-th-field="*{login}"/></div>
                <div>Hasło:</div>
                <div><input class="form-control" type="text"
                            data-th-field="*{password}"/></div>
                <div>e-mail:</div>
                <div><input class="form-control" type="text"
                            data-th-field="*{email}"/></div>
                <div><input type="submit" class="btn btn-primary btn-lg btn-block"
                            value="Zarejestruj"/></div>

            </div>
        </form>
    </div>
</div>