<div data-th-fragment="login">
    <div style="padding: 30px;">
        <div style="margin: auto; width: 300px; height: 200px; border: 2px solid gray(); border-radius: 10px;">

                <div style="text-align: center; padding-bottom: 10px;">
                    <h1>logowanie</h1>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <input class="login" type="text" placeholder="login" onfocus="this.placeholder=''"
                           onblur="this.placeholder='login'"/>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <input class="login" type="password" placeholder="hasło" onfocus="this.placeholder=''"
                           onblur="this.placeholder='hasło'"/>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <a data-th-href="@{/komis/list}">
                        <input type="button" width="400" class="btn btn-success login" value="Zaloguj"/>
                    </a>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <a data-th-href="@{/createAccount}">
                        <input type="button" width="400" class="btn btn-primary" value="Zarejestruj"/></a>
                </div>

        </div>
    </div>
</div>
