<div data-th-fragment="vehicleList">
    <div>tutaj wyświelę navbar
    </div>


    <div class="content">
        <div class="row">
            <!--<div class="col-sm-1" style="min-width: 140pxl"></div>-->
            <div class="col-sm-1 vehicles">Marka</div>
            <div class="col-sm-1 vehicles">Model</div>
            <div class="col-sm-1 vehicles">Rocznik</div>
            <div class="col-sm-1 vehicles">Przebieg</div>
            <div class="col-sm-1 vehicles">Id samochodu</div>
            <div class="col-sm-1 vehicles"></div>
        </div>
        <div class="row" data-th-each="vehicle : ${vehiclesList}">
            <!--<div class="col-sm-1" style="min-width: 140px;">-->
                <!--<img width="120" height="90" data-th-src="@{/img/cupra.jpg}"-->
                     <!--alt="zdjęcie samochodu"-->
                     <!--class="rounded float-right"/></div>-->

            <div class="col-sm-1 vehicles" data-th-text="${vehicle.manufacturer.name}"></div>
            <div class="col-sm-1 vehicles" data-th-text="${vehicle.model.name}"></div>
            <div class="col-sm-1 vehicles" data-th-text="${vehicle.productionYear}"></div>
            <div class="col-sm-1 vehicles" data-th-text="${vehicle.mileage}"></div>
            <div class="col-sm-1 vehicles" data-th-text="${vehicle.id}"></div>
            <div class="col-sm-1 vehicles">
                <a data-th-href="@{/komis/details/{vehicleId} (vehicleId=${vehicle.id})}">
                    <button type="button" class="btn btn-primary btn-sm btn-block">
                        Szczegóły
                    </button>
                </a>
            </div>
        </div>

    </div>
</div>