<div data-th-fragment="footer" class="footer">
    <div class="footer">
        <!--<div>-->
            <!--&lt;!&ndash;<div class="html-editor-align-justify">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="socialdivs">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-3 fb"><i class="icon-facebook"></i></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-3 yt"><i class="icon-youtube-1"></i></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-3 tw"><i class="icon-twitter"></i></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-3 gplus"><i class="icon-gplus"></i></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div style="clear:both"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <div class="footer">
            Auto-Komis-SDA.com &copy; 2018
        </div>
    </div>
</div>