<div data-th-fragment="footer">
    <div class="row no-gutters">
        <div class="container-fluid socials">
            <div class="html-editor-align-justify">
                <div class="socialdivs">
                    <div class="col-sm-6 fb"><i class="icon-facebook"></i></div>
                    <div class="col-sm-6 yt"><i class="icon-youtube-1"></i></div>
                    <div class="col-sm-6 tw"><i class="icon-twitter"></i></div>
                    <div class="col-sm-6 gplus"><i class="icon-gplus"></i></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>

        <div class="footer">
            Auto-Komis-SDA.com &copy; 2018
        </div>
    </div>
</div>