<head data-th-fragment="head">
    <meta charset="UTF-8"/>

    <meta charset="UTF-8" encoding="windows-1250"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />

    <link data-th-href="@{/css/reset.css}" rel="stylesheet"/>
    <link data-th-href="@{/css/style.css}" rel="stylesheet"/>
    <link data-th-href="@{/img/fontello.css}" rel="stylesheet" type="text/css"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>

    <title>Auto-Komis...</title>
</head>
