<div data-th-fragment="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="containter" style="padding-bottom: 30px;">
        <div>
            <h4 style="text-align: center" data-th-text="Menu"></h4>
            <a data-th-href="@{/komis/list}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Strona główna
                </button>
            </a>
            <a data-th-href="@{/komis/list}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Samochody
                </button>
            </a>

            <button type="button" class="btn btn-primary btn-sm btn-block">
                Kontakt
            </button>

        </div>
        <div>
            <h4 style="text-align: center">Panel klienta</h4>
            <button type="button" class="btn btn-primary btn-sm btn-block">
                Umów spotkanie
            </button>
        </div>
        <div>
            <h4 style="text-align: center">Panel pracownika</h4>
            <a data-th-href="@{/komis/new}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Dodaj samochód
                </button>
            </a>
            <a data-th-href="@{/addClient}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Dodaj klienta
                </button>
            </a>
        </div>
        <div>
            <h4 style="text-align: center">Panel menedżera</h4>
            <a data-th-href="@{/reports/soldReport}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Raport sprzedaży
                </button>
            </a>
            <a data-th-href="@{/reports/boughtReport}">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                    Raport kupna
                </button>
            </a>
        </div>
    </div>
</div>